<section>
    <h1>Splits Calculator</h1>
    <form>
        Distance (2-99): <input type="number" [(ngModel)]="distance" name="distance"><br />
        Time: <input type="number" [(ngModel)]="time.hours" name="hour">
        :<input type="number" [(ngModel)]="time.minutes" name="minute">
        :<input type="number" [(ngModel)]="time.seconds" name="second"><br>
        Race strategy: 
        <select [(ngModel)]="strategy" name="strategy">
            <option value="neg">Negative</option>
            <option value="ntrl">Neutral</option>
            <option value="pst">Positive</option>
        </select>
        <br />
        <button class="primary" type="button" (click)="calculateSplits()">Search</button>
        <table>
            <thead>
                <tr>
                    <th style="width: 100px;">
                        KM
                    </th>
                    <th style="width: 100px;">
                        Split
                    </th>
                    <th style="width: 100px;">
                        LAP
                    </th>
                    <th style="width: 100px;">
                        Average
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (split of splitList; track split.id) {
                <tr>
                    <td>{{ split.distance }}</td>
                    <td>{{ split.split.convert2String() }}</td>
                    <td>{{ split.lap.convert2String() }}</td>
                    <td>{{ split.average.convert2String() }}</td>
                </tr>
                } @empty {
                <tr>
                    <td>There are no items.</td>
                </tr>
                }
            </tbody>
        </table>

    </form>
</section>